@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

.app-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result-line {
    font-size: 15px;
    font-weight: 600;
}

.result-text {
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}
