html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

.error {
  color: #FF816B;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  .error {
    color: #d31510;
  }
}
